#include "resource.h"
#include <winresrc.h>


//
// Dialog resources
//
/*
IDD_SETTINGS DIALOGEX 0, 0, 226, 226
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "XBrackets Settings"
FONT 8, "MS Shell Dlg", 0, 0, 1
BEGIN
    DEFPUSHBUTTON   "OK", IDC_BT_OK, 60, 206, 50, 13
    PUSHBUTTON      "Cancel", IDC_BT_CANCEL, 116, 206, 50, 13
    CONTROL         "", IDC_ST_PLUGINSTATE, "Static", SS_CENTER | SS_CENTERIMAGE | SS_NOTIFY, 7, 7, 212, 13, WS_EX_STATICEDGE
    AUTOCHECKBOX    "Treat "" "" as brackets", IDC_CH_BRACKETS_DODOUBLEQUOTE, 7, 26, 161, 9
    AUTOCHECKBOX    "Treat ' ' as brackets", IDC_CH_BRACKETS_DOSINGLEQUOTE, 7, 38, 161, 9
    AUTOCHECKBOX    "Only if file extension is exactly:", IDC_CH_BRACKETS_DOSINGLEQUOTEIF, 19, 50, 171, 9
    EDITTEXT        IDC_ED_BRACKETS_DOSINGLEQUOTEIF, 19, 62, 188, 13, ES_AUTOHSCROLL, WS_EX_CLIENTEDGE
    AUTOCHECKBOX    "Treat < > as brackets", IDC_CH_BRACKETS_DOTAG, 7, 80, 111, 9
    AUTOCHECKBOX    "< />", IDC_CH_BRACKETS_DOTAG2, 129, 80, 41, 9
    AUTOCHECKBOX    "Only if file extension contains:", IDC_CH_BRACKETS_DOTAGIF, 19, 92, 165, 9
    EDITTEXT        IDC_ED_BRACKETS_DOTAGIF, 19, 104, 188, 13, ES_AUTOHSCROLL, WS_EX_CLIENTEDGE
    AUTOCHECKBOX    "Skip escaped bracket characters: \\[, \\} etc. in:", IDC_CH_BRACKETS_SKIPESCAPED, 7, 122, 198, 9
    EDITTEXT        IDC_ED_BRACKETS_SKIPESCAPED, 19, 134, 188, 13, ES_AUTOHSCROLL, WS_EX_CLIENTEDGE
    CONTROL         " (c;cc;cpp;cxx;h;hh;hpp;hxx - hardcoded)", IDC_ST_BRACKETS_SKIPESCAPED, "Static", WS_CHILD | WS_VISIBLE, 20, 148, 188, 8
    CONTROL         "", IDC_STATIC, "Static", SS_ETCHEDFRAME, 4, 163, 218, 1
    AUTOCHECKBOX    "Autocomplete brackets ([{""""}])", IDC_CH_BRACKETS_AUTOCOMPLETE, 7, 170, 160, 9
    AUTOCHECKBOX    "Even if corresponding right bracket exists", IDC_CH_BRACKETS_RIGHTEXISTS_OK, 19, 182, 186, 9
    CONTROL         "", IDC_STATIC, "Static", SS_ETCHEDFRAME, 4, 197, 218, 1
END
*/


//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
    FILEVERSION     2, 0, 0, 0
    PRODUCTVERSION  2, 0, 0, 0
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "042204b0"
        BEGIN
            VALUE "Comments", "The wall is thin - and our foreheads are hard :-)\0"
            VALUE "CompanyName", "Full of Madness Co.\0"
            VALUE "FileDescription", "XBrackets plugin for Notepad++\0"
            VALUE "FileVersion", "2, 0, 0, 0\0"
            VALUE "InternalName", "XBrackets\0"
            VALUE "LegalCopyright", "(C) Jan 2009 - Sep 2025, Vitaliy Dovgan aka DV\0"
            VALUE "OriginalFilename", "XBrackets.dll\0"
            VALUE "ProductName", " XBrackets plugin for Notepad++\0"
            VALUE "ProductVersion", "2, 0, 0, 0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 1058, 1200
    END
END
